body{
    font-family: 'Montserrat' ,sans-serif;
}

a {
    font-weight: 500;
}

.navbar {
    height: 70px;

    width: 95%;
    margin: 10px auto;
    border-radius: 27px;
    -webkit-box-shadow: 9px 8px 26px 3px rgba(46, 46, 46, 0.41);
        box-shadow: 9px 8px 26px 3px rgba(46, 46, 46, 0.41);
         background-color: rgb(255, 255, 255);
}

.navbar-brand {
    margin-left: 15px;
}

.navbar-nav .nav-link {

    margin-right: 25px;
    margin-left: 25px;
    color: rgb(11, 146, 47);
}

:hover.nav-link
{
    color: rgb(32, 32, 32);

}

.door {
    padding-left: 5px;
}

@media (max-width: 1245px) {
    .navbar-brand {
        margin-left: 0px;
    }

    .navbar-nav .nav-link {
        margin-left: 9%;
    }
}

.toggle
{
    font-size: 20px;
     background-color: rgb(255, 255, 255);
    color: rgb(11, 146, 47);
}

.nav-links
{
    margin-left:-10%;

}
.plus
{
    margin-left: 30px;
}
