body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 2rem;
}

.choose-date {
    margin-top: 8%;
    text-align: center;
}

.date-input {
    -webkit-box-shadow: 5px 5px 21px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 5px 5px 21px 5px rgba(0, 0, 0, 0.15);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: solid;
    border-color: rgb(201, 201, 201);
    border-width: 1px;
    border-radius: 10px;
    padding: 0.4rem;
    width: 50%;
    margin-bottom: 2rem;
}

.submit-login {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    width: 10rem;
    border-radius: 20px;
    -webkit-box-shadow: 0px 10px 28px -1px rgba(28, 28, 28, 0.41);
    box-shadow: 0px 10px 28px -1px rgba(28, 28, 28, 0.41);
}

.submit-login1 {
    padding: 0.5rem;
    width: 10rem;
    border-radius: 20px;
    -webkit-box-shadow: 0px 10px 28px -1px rgba(28, 28, 28, 0.41);
    box-shadow: 0px 10px 28px -1px rgba(28, 28, 28, 0.41);
}

label {
    font-size: 23px;
}

.table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 60%;
}

.edit-btn,
.delete-btn {
    margin-left: 1rem;
    border-radius: 20px;
}

@media (max-width: 991px) {
    .table {
        width: 80%;
    }
    .submit-login {
        /* margin-left: -5rem; */
        margin-top: 1rem;
        padding: 0.5rem;
        width: 10rem;
        border-radius: 20px;
        -webkit-box-shadow: 0px 10px 28px -1px rgba(28, 28, 28, 0.41);
        box-shadow: 0px 10px 28px -1px rgba(28, 28, 28, 0.41);
    }

    .date-input {
        width: 70%;
    }
}

@media (max-width: 755px) {
    .table {
        width: 100%;
    }
    .edit-btn {
        display: inline-block;
        font-size: 10px;
        margin-top: 0.2rem;
        margin-left: 0;
    }

    .delete-btn {
        display: inline-block;
        font-size: 10px;
        margin-top: 3px;
        margin-left: 0;
    }

    .submit-login {
        margin-top: 1rem;
        /* margin-left: 3rem; */
        /* margin: 1rem; */
        padding: 0.5rem;
        width: 10rem;
        border-radius: 20px;
        -webkit-box-shadow: 0px 10px 28px -1px rgba(28, 28, 28, 0.41);
        box-shadow: 0px 10px 28px -1px rgba(28, 28, 28, 0.41);
    }
}

.btn-modal {
    text-align: center;
    margin-top: 5%;
}

.time-data {
    -webkit-box-shadow: 0px 0px 15px -4px rgba(38, 38, 38, 0.55);
    box-shadow: 0px 0px 15px -4px rgba(38, 38, 38, 0.55);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: solid;
    border-color: rgb(201, 201, 201);
    border-width: 1px;
    border-radius: 10px;
    padding: 0.4rem;
    width: 30%;
    margin-bottom: 2rem;
}

.form-select {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    -webkit-box-shadow: 0px 0px 15px -4px rgba(38, 38, 38, 0.55);
    box-shadow: 0px 0px 15px -4px rgba(38, 38, 38, 0.55);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: solid;
    border-color: rgb(201, 201, 201);
    border-width: 1px;
    border-radius: 10px;
    padding: 0.4rem;
    width: 50%;
    margin-bottom: 2rem;
}

.modal-title {
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
}

.modal-header {
    text-align: center;
}

.date-buttons {
    text-align: center;
}
.edit-col {
    max-width: 30px;
}
